<div id="<%= dom_id lidarr_instance %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Host:</strong>
    <%= lidarr_instance.host %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= lidarr_instance.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Api key:</strong>
    <%= lidarr_instance.api_key %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Quality profile:</strong>
    <%= lidarr_instance.quality_profile_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Metadata profile:</strong>
    <%= lidarr_instance.metadata_profile_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Root folder path:</strong>
    <%= lidarr_instance.root_folder_path %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Tags:</strong>
    <%= lidarr_instance.tags %>
  </p>
</div>
